
[mysqld]

max_allowed_packet              = 5000M

# Buffer Settings

bulk_insert_buffer_size         = 22M
join_buffer_size                = 8M
read_buffer_size                = 5M
read_rnd_buffer_size            = 6M
sort_buffer_size                = 3M

# Connection Settings

max_connections                 = 200
max_connect_errors              = 40
back_log                        = 200
thread_cache_size               = 8
interactive_timeout             = 180
wait_timeout                    = 180

# InnoDB Settings

innodb_adaptive_hash_index      = 0
innodb_buffer_pool_instances    = 1
innodb_buffer_pool_size         = 8G
innodb_file_per_table           = 1
#innodb_force_recovery          = 1
innodb_log_file_size            = 600M
innodb_read_io_threads          = 16
#innodb_thread_concurrency      = 8
innodb_write_io_threads         = 16
net_buffer_length               = 225280

# Logging



key_buffer_size                 = 320M
myisam_max_sort_file_size       = 2560M
myisam_recover_options          = backup,force

# Table Settings

table_definition_cache          = 20000
table_open_cache                = 20000
open_files_limit                = 120000
max_heap_table_size             = 228M
tmp_table_size                  = 380M

[mysqldump]

max_allowed_packet              = 90M

[myisamchk]

key_buffer_size                 = 200M
sort_buffer_size                = 200M
read_buffer                     = 4M
write_buffer                    = 4M

[mysqlhotcopy]

interactive-timeout

[mysqld_safe]

open_files_limit                = 60000
