body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #F5F5F5;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.header-up button {
    cursor: pointer;
    border: none;
    background-color: #0A4209;
}

.header-down {
    background-color: #FFFFFF;
}

.header-down a {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #545C4B;
    text-decoration: none;
    font-weight: 500;
}

.filter {
    line-height: 22px;
    color: rgba(84, 92, 75, 1);
}

@media (max-width:1137px) {
    .filter {
        display: none;
    }

    .candidates {
        width: 100% !important;
    }
}

@media (min-width:1380px) {
    .search {
        width: 1380px !important;
    }
}

.filter h2 {
    line-height: 30px;
    margin: 0px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 25px
}

.filter-item div {
    margin-bottom: 7px;
}

.name-organization {
    line-height: 30px;
}

.header-organization {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-main {
    margin-bottom: 16px;
}

.header-up {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 124px;
    padding-left: 131px;
    background-color: #0A4209;
}

.header-down {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 18px;
}

.search {
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    padding-bottom: 10px;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-organization {
    width: 100%;
    margin-bottom: 45px;
    position: relative;
}

.search-organization input {
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: inline-block;
    border: none;
    box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search-organization button {
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F2F2F2;
    cursor: pointer;

}


.div-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}

section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.organization {
    display: flex;
    flex-wrap: wrap;
    width: 970px;
    gap: 16px;
}

.organization-item {
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-write {
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(45, 102, 48, 1);
    border: none;
    display: line-block;
    position: relative;
    top: -5%;
}

.name-organization {
    margin-bottom: 20px;
    max-width: 80%;
}

.descript {
    margin-bottom: 10px;
    font-size: 18px;
    display: line-block;
    position: relative;
    top: -12%;
}

.estimation {
    display: line-block;
    position: relative;
    padding: 5px;
    top: -34%;
    left: 22%;
}

.estimation::before {
    position: absolute;
    top: 0px;
    left: -35px;
    content: url(../img/star.svg);
}

.city-underground {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    top: -25%;
    left: 21%;
}

.city,
.underground {
    position: relative;
    display: inline-block;
}

.city {
    margin-right: 35px;
}

.city::before {
    position: absolute;
    content: url(../img/city.svg);
    left: -22px;
}

.underground::before {
    position: absolute;
    content: url(../img/underground.svg);
    left: -30px;
}

.filter {
    margin: 0;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 300px;
    padding: 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter-item input[type="education"],
input[type="number"] {
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 5px 10px;
}

.respond-filter {
    cursor: pointer;
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 9px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(45, 102, 48, 1);
    border: none;
}